<div class="mainView">
    <button id="startScanBtn" ng-click="begin()">Start Scan</button>
    
    <button id="dbtestbtn" ng-click="setHistoryFile()">Test DB</button>
    
    <button id="dbtestselect" ng-click="getHistoryFile()">Select history file</button>
    
    <button id="droptable" ng-click="dropTable()">Drop Table</button>
    
    <button id="checkNetwork" ng-click="checkNetwork()">Check Network</button>
    
    <button id="triggerUpload" ng-click="upload()">Upload</button>
    
    <button id="parseCsv" ng-click="parseCsv()">Parse Csv</button>
    
    <button id="getCsvFile" ng-click="getCsvFile()">Get Csv File</button>
</div>